/* By Uk */
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: proxima-ExBold;
  src: url("../fonts/PROXIMANOVA-XBOLD-WEBFONT.TTF");
}

@font-face {
  font-family: proxima-Bold;
  src: url("../fonts/PROXIMANOVA-BOLD-WEBFONT.TTF");
}

@font-face {
  font-family: proxima-Regular;
  src: url("../fonts/PROXIMANOVA-REG-WEBFONT.TTF");
}

@font-face {
  font-family: proxima-Light;
  src: url("../fonts/PROXIMANOVA-LIGHT-WEBFONT.TTF");
}

@font-face {
  font-family: proxima-Semibold;
  src: url("../fonts/PROXIMANOVA-SBOLD-WEBFONT.TTF");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  font-family: proxima-Regular;
}

header {
  width: 100%;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 999;
  padding: 0;
  margin: 0;
}

header .navbar {
  padding: 1% 2%;
  height: auto;
  border-bottom: 1px solid #d1d1d1;
}

header .navbar.blackto {
  -webkit-box-shadow: 8px 2px 10px rgba(12, 12, 12, 0.192);
          box-shadow: 8px 2px 10px rgba(12, 12, 12, 0.192);
  top: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  border-bottom: 0px;
}

header .navbar .btn-header {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  background-color: #ebebeb;
  border: 0px;
  font-size: 12px;
}

header .navbar .custom-navbar-nav {
  position: relative;
  padding-right: 2%;
}

header .navbar .custom-navbar-nav .nav-item {
  position: relative;
}

header .navbar .custom-navbar-nav .nav-item .nav-link {
  color: #707070;
}

aside {
  position: fixed;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#F38764), to(#EE62A5));
  background: linear-gradient(to bottom, #F38764 0%, #EE62A5 100%);
  height: 100%;
  width: 66px;
  padding: 20px 0px;
  text-align: center;
}

@media (max-width: 575.98px) {
  aside {
    width: 36px;
  }
}

aside .sidebar-title {
  color: #ffffff;
  font-family: proxima-Bold;
  font-size: 18px;
  margin: 10px 0px 40px 0px;
  line-height: 1;
}

aside .custom-sidebar {
  position: relative;
  min-height: 75vh;
}

aside .custom-sidebar .custom-sidebar-item .custom-sidebar-link {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 14px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

aside .custom-sidebar .custom-sidebar-item .custom-sidebar-link:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

aside .custom-sidebar .custom-sidebar-item .custom-sidebar-link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3px;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: all 250ms cubic-bezier(0.17, 0.67, 1, 1.23);
  transition: all 250ms cubic-bezier(0.17, 0.67, 1, 1.23);
}

aside .custom-sidebar .custom-sidebar-item .custom-sidebar-link.active::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

main {
  margin-left: 66px;
  height: auto;
  position: relative;
  display: block;
}

@media (max-width: 575.98px) {
  main {
    margin-left: 36px;
  }
}

.dashboad {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #ffffff;
  padding: 3% 5% 4% 3%;
}

@media (max-width: 575.98px) {
  .dashboad {
    padding: 2% 1%;
  }
}

.menu-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .menu-sort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .menu-sort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.menu-sort .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.menu-sort .contact-info .contact-img {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-sort .contact-info .contact-img i {
  background: -webkit-gradient(linear, left top, left bottom, from(#F38764), to(#EE62A5));
  background: linear-gradient(to bottom, #F38764 0%, #EE62A5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

@media (max-width: 575.98px) {
  .menu-sort .contact-info .contact-img i {
    font-size: 20px;
  }
}

.menu-sort .contact-info .contact-img .contact-name {
  margin: 0;
  font-size: 16px;
  font-family: proxima-Regular;
}

.menu-sort .contact-info .contact-title {
  margin: 0;
  font-family: proxima-Semibold;
  color: #2e2e2e;
  line-height: 1;
}

@media (max-width: 575.98px) {
  .menu-sort .contact-info .contact-title {
    font-size: 20px;
  }
}

.menu-sort .contact-info .contact-subtitle {
  margin: 0;
  color: #808080;
  font-size: 14px;
  line-height: 1;
  font-family: proxima-Regular;
}

@media (max-width: 575.98px) {
  .menu-sort .contact-info .contact-subtitle {
    font-size: 11px;
  }
}

.menu-sort .sort {
  padding-left: 2%;
}

.menu-sort .sort span {
  color: #808080;
}

.menu-sort .sort .sort-select {
  border: 0px;
  padding: 0px;
  min-width: 90px;
  outline: none;
  background-color: transparent;
  font-family: proxima-Semibold;
  color: #2e2e2e;
}

.display {
  width: 100%;
  height: auto;
  position: relative;
  padding-left: 3%;
}

@media (max-width: 575.98px) {
  .display {
    padding-left: 0;
  }
}

.display .contact {
  position: relative;
  width: 100%;
  padding-bottom: 2%;
}

.display .contact .search-contact {
  position: relative;
  width: 100%;
  height: 40px;
}

.display .contact .search-contact .form-control {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: #ebebeb;
  border: 0px;
  padding: 10px 35px 10px 20px;
  color: #2e2e2e;
}

.display .contact .search-contact .search-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #636363;
  font-size: 14px;
  font-weight: 100;
}

.display .contact .btn-add {
  width: 180px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#F38764), to(#EE62A5));
  background: linear-gradient(to right, #F38764 0%, #EE62A5 100%);
  border: 0px;
  font-family: proxima-Bold;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(202, 202, 202, 0.438);
          box-shadow: 0px 0px 10px 2px rgba(202, 202, 202, 0.438);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.display .contact .btn-add:hover {
  background: -webkit-gradient(linear, left top, right top, from(#F38764), to(#F38764));
  background: linear-gradient(to right, #F38764 0%, #F38764 100%);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.display .table-data {
  position: relative;
}

.display .table-data thead th {
  border-bottom: none;
  border-top: none;
  background-color: #F1F1F1;
  color: #4d4d4d;
  font-family: proxima-Light;
}

.display .table-data thead th .btn-th {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background-color: #d3d3d3;
  border: 0px;
}

.display .table-data tr {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.display .table-data tr.tr-active {
  background-color: #afdfe883;
}

.display .table-data tr:hover {
  background-color: #afdfe883;
}

.display .table-data tr:hover .action {
  background-color: #F38764;
}

.display .table-data tr td {
  border-top: none;
  font-weight: 100;
  font-size: 15px;
  font-family: proxima-Regular;
  vertical-align: middle;
}

.display .table-data tr td .pan-inp {
  width: 100%;
  height: auto;
  border: 0px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  color: #ffffff;
  outline: none;
  padding-right: 20px;
  line-height: 1;
}

.display .table-data tr td .pan-inp:focus {
  border-bottom-color: #FF0055;
}

.display .table-data tr td .pan-inp:focus + .pan-edit {
  color: #FF0055;
}

.display .table-data tr td .action {
  width: 35px;
  height: 35px;
  border-radius: 17px;
  background-color: #F1F1F1;
  color: #2e2e2e;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  margin: 5px;
  outline: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.display .table-data tr td .action:hover {
  background-color: #EE62A5;
  color: #ffffff;
}

.display .table-data tr td .basic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.display .table-data tr td .basic-info .basic-img {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  margin-right: 10px;
  background-color: #EE62A5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display .table-data tr td .basic-info .basic-img .basic-name {
  margin: 0;
  font-size: 16px;
  font-family: proxima-Regular;
  color: #d3d3d3;
}

.display .table-data tr td .basic-info .basic-title {
  margin: 0;
  font-family: proxima-Semibold;
  color: #20232C;
  line-height: 1;
}

.display .table-data tr td .basic-info .basic-subtitle {
  margin: 0;
  color: #808080;
  font-size: 12px;
  line-height: 1;
}

.display .table-data tr td .custom-control-label::before {
  background-color: #fff;
  border: 2px solid #d3d3d3;
}

.display .info {
  padding: 20px 20px;
  position: relative;
  background-color: #F1F1F1;
  border-radius: 4px;
}

.display .info .info-card {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.display .info .info-card .info-img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: block;
  margin: 6px auto;
  position: relative;
  background-color: #F38764;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display .info .info-card .info-img .info-name {
  margin: 0;
  text-transform: uppercase;
}

.display .info .info-card .info-title {
  color: #636363;
  margin-top: 10px;
  font-family: proxima-Semibold;
  margin-bottom: 0px;
}

.display .info .info-card .info-subtitle {
  color: #242424;
  font-family: proxima-Light;
  font-size: 13px;
}

.display .info .info-data {
  padding: 0;
  list-style: none;
}

.display .info .info-data li {
  padding: 12px 0px;
  border-bottom: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575.98px) {
  .display .info .info-data li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .display .info .info-data li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.display .info .info-data li:nth-last-child(1) {
  border-bottom: 0px;
}

.display .info .info-data li span {
  color: #000000;
  font-family: proxima-Regular;
}

.display .info .info-data li span:nth-child(1) {
  color: #808080;
  width: 35%;
}

@media (max-width: 575.98px) {
  .display .info .info-data li span:nth-child(1) {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .display .info .info-data li span:nth-child(1) {
    width: 100%;
  }
}

.display .info .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.display .info .contact-info .contact-img {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display .info .contact-info .contact-img i {
  background: -webkit-gradient(linear, left top, left bottom, from(#F38764), to(#EE62A5));
  background: linear-gradient(to bottom, #F38764 0%, #EE62A5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

@media (max-width: 575.98px) {
  .display .info .contact-info .contact-img i {
    font-size: 20px;
  }
}

.display .info .contact-info .contact-img .contact-name {
  margin: 0;
  font-size: 16px;
  font-family: proxima-Regular;
}

.display .info .contact-info .contact-title {
  margin: 0;
  font-family: proxima-Semibold;
  color: #2e2e2e;
  line-height: 1;
}

@media (max-width: 575.98px) {
  .display .info .contact-info .contact-title {
    font-size: 20px;
  }
}

.display .info .contact-info .contact-subtitle {
  margin: 0;
  color: #808080;
  font-size: 14px;
  line-height: 1;
  font-family: proxima-Regular;
}

@media (max-width: 575.98px) {
  .display .info .contact-info .contact-subtitle {
    font-size: 11px;
  }
}

.custom-btn {
  font-size: 11px;
  color: #ffffff;
  background-color: #414DD3;
  border: 0px;
  border-radius: 8px;
  margin-top: 5%;
  height: 33px;
  padding: 0px 15px;
  cursor: pointer;
  line-height: 1;
  -webkit-transition: all 250ms cubic-bezier(0.17, 0.67, 1, 1.23);
  transition: all 250ms cubic-bezier(0.17, 0.67, 1, 1.23);
  position: relative;
  z-index: 1;
}

.custom-btn:hover {
  border-radius: 0px;
}

.custom-btn:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.custom-btn:nth-child(2) {
  margin-left: 5%;
}

.custom-btn::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #FF0055;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 250ms cubic-bezier(0.17, 0.67, 1, 1.23);
  transition: all 250ms cubic-bezier(0.17, 0.67, 1, 1.23);
}

.dropdown-menu {
  min-width: 175px;
  height: 190px;
  overflow-y: auto;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 10px #c3c0c091;
          box-shadow: 0px 10px 10px #c3c0c091;
  left: -76px;
}

@media (max-width: 575.98px) {
  .dropdown-menu {
    left: 0;
  }
}

.dropdown-menu::-webkit-scrollbar {
  width: 5px;
}

.dropdown-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.137);
  border-radius: 6px;
}

.dropdown-menu .list-group li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu .list-group li:hover {
  background-color: rgba(141, 186, 204, 0.137);
}

.bot {
  height: auto;
  position: fixed;
  margin: 10px;
  bottom: 0;
  right: 0;
  z-index: 998;
}

.bot .chat-bot {
  position: fixed;
  bottom: 3%;
  right: 1%;
  width: 60px;
  height: 60px;
  border-radius: 200px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border: 0px;
  cursor: pointer;
  background-color: #ff0055;
  z-index: 9999;
  outline: none;
  color: #ffffff;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.bot .chat-bot.botactive {
  background-color: #414dd3;
}

.bot .bot-box {
  position: absolute;
  width: 340px;
  height: 419px;
  right: 0%;
  bottom: 0%;
  margin-bottom: 70px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 20px rgba(31, 31, 31, 0.3);
          box-shadow: 0px 0px 20px rgba(31, 31, 31, 0.3);
  z-index: 9999;
  display: none;
}

.bot .bot-box.chatshow {
  display: block;
  -webkit-transition: all 450ms linear;
  transition: all 450ms linear;
  -webkit-animation: show 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: show 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.bot .bot-box .bot-header {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #fff;
  display: block;
}

.bot .bot-box .info-title {
  background: #414dd3;
  padding: 14px;
  color: #ffffff;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 0;
  height: 45px;
  font-size: 16px;
}

.chat {
  width: 100%;
  height: auto;
  position: relative;
}

.chat .chat-box {
  width: 100%;
  height: 329px;
  background-color: #ffffff;
  overflow-y: scroll;
  padding: 6px;
}

.chat .chat-box::-webkit-scrollbar {
  width: 5px;
}

.chat .chat-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chat .chat-box::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.137);
  border-radius: 6px;
}

.chat .chat-box .message-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3%;
  font-family: proxima-Semibold;
}

.chat .chat-box .message-box.message-box1 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat .chat-box .message-box.message-box2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.chat .chat-box .message-box .bank-msg {
  max-width: 80%;
}

.chat .chat-box .message-box .user-msg {
  max-width: 80%;
}

.chat .chat-box .message-box .chat-img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #000000;
}

.chat .chat-box .message-box .media {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat .chat-box .message-box .media-body {
  border-radius: 10px;
  padding: 5px 10px;
}

.chat .chat-box .message-box .media-body.chat-left {
  border-bottom-left-radius: 0px !important;
  background-color: #414dd3;
}

.chat .chat-box .message-box .media-body.chat-right {
  border-bottom-right-radius: 0px !important;
  background-color: #121117;
}

.chat .chat-box .message-box .media-body .chat-msg {
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 4px;
}

.chat .chat-box .message-box .media-body .chat-time {
  color: #cccccc;
  font-size: 10px;
  margin-bottom: 0;
}

.chat .chat-form {
  position: relative;
  font-family: proxima-Regular;
}

.chat .chat-form .chat-inp {
  width: 100%;
  display: block;
  background-color: #414dd3;
  border-radius: 140px;
  border-radius: 0px 0px 8px 8px;
  height: 45px;
  display: block;
  border: 0px;
  outline: none;
  padding: 5px 34px;
  color: #ffffff;
}

.chat .chat-form .chat-icon {
  position: absolute;
  top: 11px;
  color: #ffffff;
  background-color: transparent;
  border: 0px;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.chat .chat-form .chat-icon.icon1 {
  left: 10px;
}

.chat .chat-form .chat-icon.icon2 {
  right: 12px;
}

.close-chat {
  -webkit-transition: all 400ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 400ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -webkit-animation: chatclose 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53);
          animation: chatclose 0.9s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.notify-msg {
  width: 10px;
  height: 10px;
  background: #20a47e;
  position: absolute;
  right: 10px;
  top: 41px;
  z-index: -1;
  border-radius: 100px;
  -webkit-animation: notify 1s linear infinite alternate;
          animation: notify 1s linear infinite alternate;
  display: none;
}

.notify-msg.notifyactive {
  display: block;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

@-webkit-keyframes showin {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}

@keyframes showin {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}

@-webkit-keyframes chatclose {
  0% {
    -webkit-transform: scaleY(0, 0);
            transform: scaleY(0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1.1, 1.1);
            transform: scaleY(1.1, 1.1);
    opacity: 1;
  }
}

@keyframes chatclose {
  0% {
    -webkit-transform: scaleY(0, 0);
            transform: scaleY(0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1.1, 1.1);
            transform: scaleY(1.1, 1.1);
    opacity: 1;
  }
}

@-webkit-keyframes notify {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes notify {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=style.css.map */